.offscreen {
    position: absolute;
    left: -10000px;
}


.cart {
    padding: 0;
    margin-top: 0.5em;
}

.cart__totals {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.cart__submit {
    background-color: darkcyan;
}

